{% extends "../base/base.html" %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Our Authors</h1>
            <p class="lead text-body-secondary">List of authors, available books</p>
            <p></p> 
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for author in authors %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if author.profile_picture %}
                    <img src="{{ author.profile_picture.url }}" class="card-img-top img-fluid" alt="{{ author.first_name }} {{ author.last_name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
                        <p class="card-text">Birth date: {{ author.birth_date }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
